# =========================
# 1. ARCHIVOS GENÉRICOS DE DART Y FLUTTER
# =========================
.dart_tool/
.packages
.pub/
build/
# Dejamos pubspec.lock libre para que GitHub guarde las versiones exactas de tus librerías.

# Documentación automática (no es necesaria subirla)
doc/api/

# Variables de entorno (Si usas archivos .env para secretos)
.env
.env*

# =========================
# 2. CONFIGURACIONES DE TU EDITOR (VS Code / Android Studio)
# =========================
# Estos son archivos de tu compu, no del proyecto. Ensucian el GitHub.
.idea/
.vscode/
*.iml
*.swp

# =========================
# 3. SEGURIDAD FIREBASE (!!! MUY IMPORTANTE !!!)
# =========================
# Estos archivos contienen las llaves de acceso a tu base de datos.
# Si los subes, cualquiera podría intentar borrar tu base de datos.
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart
firebase_options.dart

# Archivos de claves para firmar la app (cuando la termines)
*.jks
*.keystore
key.properties

# =========================
# 4. WINDOWS (Específico para tu versión de Escritorio)
# =========================
# Archivos temporales que Windows crea al compilar
windows/flutter/ephemeral/
*.exe

# =========================
# 5. ANDROID (Específico para la versión Móvil)
# =========================
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties

# =========================
# 6. ARCHIVOS DE SISTEMA (Basura de Mac y Windows)
# =========================
.DS_Store
Thumbs.db
ehthumbs.db
